{% extends 'base.html' %}

{% block title %}
    Adhésions
{% endblock %}

{% block static %}
    <link rel="stylesheet" media="screen" type="text/css" href="/static/css/base.css"/>
    <link rel="stylesheet" media="screen" type="text/css" href="/static/css/home.css"/>
    <link rel="stylesheet" media="screen" type="text/css" href="/static/css/acti.css"/>
    <script src="/static/js/home.js"></script>
{% endblock %}

{% block container %}

    <div id="service" class="mx-auto"
         style="background: rgba(255,255,255,1); font-size:30px; padding: 30px; margin: 10px">
        <div class="row">
            <div class="mx-auto">
                <div class="" id="adhesions">
                    <h1 class="font-weight-light color-brown" style="text-align: center;"> Adhésions à l’association </h1>
                    <button class="btn-services" onclick="showHidden('usagers')">Devenir usager</button>
                    <button class="btn-services" onclick="showHidden('actifs')">Devenir actif</button>
                    <button class="btn-services" onclick="showHidden('bienfaiteurs')">Devenir bienfaiteur</button>
                </div>
            </div>
        </div>
        <div hidden class="service" id="usagers">
            <h1 class="font-weight-bold"> Membre usagers</h1>
            <p class="lead"> Adhésion</p>
            <p class="lead font-italic"> Personne physique: 5€</p>
            <p class="lead font-italic"> Personne morale: 40€</p>
            <p class="lead text-justify">Il s’agit des membres (personnes physiques ou morales) qui versent une
                cotisation annuelle dont le
                montant est fixé par l’Assemblée Générale et adhérent aux présents statuts, dans le seul but de pouvoir
                utiliser un des services proposés par l’association. Ils n'ont pas de voix délibérative au cours des
                Assemblées Générales mais peuvent y participer et ont un avis consultatif. Ils ont une voix délibérative
                dans les commissions auxquelles ils prennent part.</p>
        </div>
        <div hidden class="service" id="actifs">
            <h1 class="font-weight-bold"> Membre actif</h1>
            <p class="lead"> Adhésion</p>
            <p class="lead font-italic"> Personne physique: 20€</p>
            <p class="lead font-italic"> Personne morale: 60€</p>
            <p class="lead text-justify">Ce sont les membres ordinaires (personnes physiques uniquement) qui versent une
                cotisation annuelle
                dont le montant est fixé par l’Assemblée Générale, participent toute l’année à la vie de l’association
                et
                organisent tout ou partie des événements visant à atteindre les buts de l’association, cités à l’article
                2.
                Les membres actifs ont une voix délibérative dans toutes les assemblées, réunions et commissions
                auxquelles ils participent dans EcoCycle.</p>
        </div>
        <div hidden class="service" id="bienfaiteurs">
            <h1 class="font-weight-bold"> Membre bienfaiteur</h1>
            <p class="lead"> Adhésion</p>
            <p class="lead font-italic">Personne physique: 5€</p>
            <p class="lead font-italic">Personne moral: 5€</p>
            <p class="lead text-justify">Ce sont les membres ordinaires (personnes physiques uniquement) qui versent une
                cotisation annuelle
                dont le montant est fixé par l’Assemblée Générale, participent toute l’année à la vie de l’association
                et
                organisent tout ou partie des événements visant à atteindre les buts de l’association, cités à l’article
                2.
                Les membres actifs ont une voix délibérative dans toutes les assemblées, réunions et commissions
                auxquelles ils participent dans EcoCycle.</p>
        </div>
    </div>

    <script src="/static/js/scrolling.js"></script>
{% endblock %}