{% extends 'base.html' %}

{% block title %}
    Calendrier AcTI
{% endblock %}

{% block static %}
    <link rel="stylesheet" media="screen" type="text/css" href="/static/css/base.css"/>
{% endblock %}

{% block container %}

    <div class="block-white">
        <h1 class="color-brown font-weight-light" style="text-align: center;">
            Les dons ne sont actuellement qu'accessibles par viremment bancaire.
        </h1>
    </div>

{% endblock %}