.img-size {
    width: 400px;
}

.own-navbar {
    background: saddlebrown;
}

.dropdown-menu {
    background-color: saddlebrown;
}

.dropdown-item {
    font-family: Arial;
    color: #d6d6d6;
    filter: contrast(1);
}

.carousel-inner {
    color: black;
    margin: auto;
}

.container {
    margin: 5px;
}


.photoEcoCycle {
    margin: 2px;
    background-image: url('/static/img/EcoCycle.png') no-repeat center;
    opacity: 0.5;
}

.text-justify {
    text-align: justify;
}

.color-brown {
    color: saddlebrown;
}

.title-green {
    color: green;
    font-size: large;
}

.text-lg {
    font-size: 80px;
}

.background-salamandre {
    background: url("/static/img/salamandre/background.jpg") no-repeat center fixed;
    max-width: 100%;
}

.background-white {
    background: white no-repeat fixed;
}

.div-marge-space {
    margin: 10px 10px;
    margin-top: 100px;
}

.footer {
    background-color: white;
}

.floatable {
    padding-bottom: 20px;
    position: fixed;
    animation: appeard 1s;

}

.block-white {
    background-color: rgba(255, 255, 255, .95);
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.logo {
    border-radius: 50%;
    box-shadow: rgba(252, 252, 252, 0.69) 0px 0px 10px 5px;
}

@keyframes appeard {
    from {
        position: relative;
        top: -100%;
    }
    to {
        position: fixed;
        top: 0%;
    }
}