{% extends "base.html" %}

{% block title%}
ARTICLES
{% endblock %}

{% block static %}
<link rel="stylesheet" media="screen" type="text/css" href="/static/css/base.css"/>
<link rel="stylesheet" media="screen" type="text/css" href="/static/css/home.css"/>
{% endblock %}

{% block container %}

{% for file in pdf %}
    <div class="block-white">
    	<h3 class="font-weight-light">{{ file.titre }}</h3>
        <div class="row">
            <div class="col">
                <iframe src="/static/{{file.pdfFile.url}}" height="900" width="1100" />
            </div>
        </div>
    </div>
{% empty %}
    <div class="block-white">Aucun article.</div>
{% endfor %}

{% endblock %}