.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.service{
    position: relative;
    animation: moove 1s ;
    text-align: center;
}

button{
    margin: 10px;
    padding: 10px;
    background-color: #324344;
    color: white;
    border-radius: 10px;
}

.moove{
    position: relative;
    animation: moove 2s;
}

.animate-rotation{
    position: relative;
    animation: animate-rotation 2s;
}


@keyframes moove {
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
}

@keyframes animate-rotation {
    from {
        left: -100%;
        transform: scale(0.1);

    }
    to {
        left: 0%;
        transform:  scale(1);
    }
}